#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

bindings/nauty/src/** linguist-vendored
bindings/nauty/include/n*.h linguist-vendored
bindings/nauty/include/s*.h linguist-vendored
bindings/traces/** linguist-vendored