#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

bindings/nauty/src/** linguist-vendored
bindings/nauty/naurng.h linguist-vendored
bindings/nauty/nausparse.h linguist-vendored
bindings/nauty/naututil.h linguist-vendored
bindings/nauty/nauty.h linguist-vendored
bindings/nauty/schreier.h linguist-vendored
bindings/traces/** linguist-vendored