#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

bindings/nauty_traces/src/** linguist-vendored
bindings/nauty_traces/include/nauty/** linguist-vendored
bindings/nishe/include/nishe/** linguist-vendored
bindings/nishe/src/** linguist-vendored
bindings/bliss/include/bliss/** linguist-vendored
bindings/bliss/src/** linguist-vendored